<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221027908586-u58ef2vrlfj2rens8anshb9hhcdskekh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221027908586-u58ef2vrlfj2rens8anshb9hhcdskekh</string>
	<key>API_KEY</key>
	<string>AIzaSyDmAwTT__TzwI2PQSLD2N966hir-TgatIw</string>
	<key>GCM_SENDER_ID</key>
	<string>221027908586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>online.greenhero.app</string>
	<key>PROJECT_ID</key>
	<string>learningvietnamese-71492</string>
	<key>STORAGE_BUCKET</key>
	<string>learningvietnamese-71492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221027908586:ios:0c9675dd3fbe520da55093</string>
	<key>DATABASE_URL</key>
	<string>https://learningvietnamese-71492.firebaseio.com</string>
</dict>
</plist>